main .main-content .row {
    display: grid;
    grid-template-columns: 1fr 300px;

    min-height: inherit;

    width: inherit;
}


/* estilos del formulario */

main .main-content .row .left-col form {
    padding-top: 20px;
}

main .main-content .row .left-col form #input-ciphertext {
    width: 100%;
    resize: vertical;

    padding: 7px 5px;
    outline: 0;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px black;
}

main .main-content .row .left-col form button {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* estilos para la comparación de textos */

main .main-content .row .left-col #comparation-textbox {
    font-family: 'Courier New', Courier, monospace;
}

main .main-content .row .left-col .row {
    display: none;
    margin-bottom: 30px;
}

main .main-content .row .left-col .row input {
    width: 250px;
    height: 30px;
}

main .main-content .row .left-col .row button {
    padding-left: 3px;
    padding-right: 3px;
    height: 30px;
}

main .main-content .row .left-col #errors {
    font-size: 1.3rem;
    color: red;
}

main .main-content .row #right-column {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

main .main-content .row #right-column table {
    font-style: normal;
}

main .main-content .row #right-column table th {
    padding: 0px 10px;
}
